#nav-container {
	/*background: url(../images/nav-bg.jpg) no-repeat 0 0;*/
	height: 178px;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	width: 715px;
}

/*Global Nav Styles*/

ul#nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

ul#nav li a {
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	text-indent: -9000px;
	position: absolute;
	outline: none;
}

ul#nav:hover li a{
	background-position: left bottom;	
}

ul#nav li a:hover{
	background-position: left center;
}

ul#nav li a span{
	background-repeat: no-repeat;
	display: none;
	position: absolute;
}

ul#nav li a:hover span{
	 display: block;
}

/*Home Nav Styles*/

ul#nav li a.home {
	background-image: url(../images/nav-home.png);
	height: 37px;
	width: 118px;	
	top: 100px;
	left: 80px;	
}

ul#nav li a.home span{
	background-image: url(../images/nav-home-icon.png);
	width: 38px;
	height: 33px;
	top: -40px;
	left: 40px;
}

/*About Nav Styles*/

ul#nav a.about{
	background-image: url(../images/nav-about.png);
	height: 37px;
	width: 109px;
	top: 100px;
	left: 230px;
}

ul#nav li a.about span{
	background-image: url(../images/nav-about-icon.png);
	width: 43px;
	height: 27px;
	top: -40px;
	left: 40px;
}

/*Blog Nav Styles*/

ul#nav a.blog{
	background-image: url(../images/nav-blog.png);
	height: 37px;
	width: 86px;
	top: 100px;
	left: 380px;
}

ul#nav li a.blog span{
	background-image: url(../images/nav-blog-icon.png);
	width: 45px;
	height: 31px;
	top: -40px;
	left: 20px;
}

/*Contact Nav Styles*/

ul#nav a.contact{
	background-image: url(../images/nav-contact.png);
	height: 37px;
	width: 141px;
	top: 100px;
	left: 505px;
}

ul#nav li a.contact span{
	background-image: url(../images/nav-contact-icon.png);
	width: 42px;
	height: 29px;
	top: -40px;
	left: 49px;
}